.background {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.block {
    width: 150px;
    height: 150px;
    background: #766b6b;
}

.red {
    background: red;
}

.green {
    background: green;
}